<!--Navbar-->
<nav class="navbar-nav w-100 border-bottom position-fixed">
    <div class="container-fluid d-grid grid-custom h-100">
        <div class="d-flex">
            <div class="menu-key d-flex justify-content-center align-items-center h-100 color-gr pr-3">
                <!-- <ion-icon name="menu-outline" class="fs-22 "></ion-icon> -->
            </div>
            <div class="logo d-flex justify-content-center align-items-center h-100">
                <img src="assets/images/logo.white.png" />
            </div>
        </div>
        <form class=" d-flex justify-content-center align-items-center h-100 position-relative">
            <input class="form-control fs-12 fw-500" type="search" placeholder="Search...">
            <label class="position-absolute color-wh ">
             <!-- <ion-icon name="search-outline"></ion-icon> -->
          </label>
        </form>
        <div class="sign d-flex justify-content-end align-items-center pr-3">
            <p class="fs-14 fw-500  mb-0 d-flex justify-content-end align-items-center color-gr mr-3">
                <!-- <ion-icon name="search-outline"></ion-icon> -->
            </p>
            <p class="fs-12 fw-500  mb-0 d-flex justify-content-end align-items-center color-gr">
                <!-- <ion-icon name="person-circle-outline" class="fs-20 pr-2"></ion-icon><span>Sign in / Register</span></p> -->
        </div>
    </div>
</nav>
<nav></nav>
