<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2  d-md-block d-none">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-12 col-md-9 offset-md-1">
            <!-- <p class="h1">write your charts here ya lolo</p> -->
            <div class="font">
                <h4 class="h1 fw-600 text-light pl-2 pb-2">Charts</h4>
                <h1 class="h5 text-muted fw-600 text-light pl-2 pb-3 mx-1">weekly </h1>
            </div>

            <div class="row align-items-center mt-3 p-2">
                <!-- this is start of test responsive div  -->
                <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>

                    <!-- <div id="waveform"></div> -->

                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->

                
                   <!-- this is start of test responsive div  -->
                   <div class="small bg-dark d-flex align-items-center col-12 col-md-9 mb-5">
                    <div class="small-img col-2 h-75 mt-3">
                        <img src="assets/images/img1.jpg" class="songs img-fluid w-100">
                    </div>
                    <div class="small-text col-2 mx-2">
                        <p class="h5 text-light">waveone</p>
                        <p class="text-muted">alaa</p>
                    </div>
                    <!-- <div id="waveform"></div> -->
                    <div class="small-icon col-4 offset-3 text-end">
                        <i class="fa fa-play fa-md  text-light mx-2"> 360.2k </i>
                        <i class="fa fa-heart fa-md text-light "> 12.3k</i>
                    </div>
                </div>
                <!-- this is end of test responsive div  -->
            </div>
            <app-footer></app-footer>
        </div>
    </div>

</div>
